/*Variables*/
:root {
  --bgSite: #d7d4ff;
  --buttonColor: #6c63ff;

  --white: #ffffff;
  --white200: #f9f9f9;

  --title: #2b2b2b;
  --text: #555555;
}

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button,
input {
  border: 0;
}
button:focus,
input:focus {
  border: 0;
}


.header {
  width: 100%;
  height: 400px;
  background: var(--bgSite);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-box {
  width: 380px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header-title {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  display: flex;
  align-items: center;
  color: var(--title);
}

.header-subtitle {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  display: flex;
  align-items: center;  
  color: var(--text);
}

.header-btn {
  width: 130px;
  height: 50px;
  background: var(--buttonColor);
  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  border-radius: 5px;
  box-shadow: #171717 10%;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--white);
  cursor: pointer;
}

.header-btn:hover  {
  background:  var(--bgSite);
}

.header-img img {
  width: 350px;
  height: 350x;
}

.card-container {
  height: 1000px;
  background: var(--white200);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card-box {
  width: 340px;
  height: 423px;
  left: 101px;
  top: 710px;
  background: var(--white);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  width: 230px;
}

.card-title {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--title);

}

.card-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--text);
}

.form-container {
  height: 750px;
  background: var(--bgSite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-title {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: var(--title);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
  outline: none;
}

.form-input {
  width: 470px;
  height: 65px;
  left: 485px;
  background: var(--white);
  border-radius: 6px;
  outline: none;
  padding: 10px;
  cursor: pointer;
}

input::placeholder {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: rgba(110, 114, 117, 0.74);
}

.form-textarea {
  width: 470px;
  height: 165px;
  background: var(--white); 
  border-radius: 6px;
  border: none;
  resize: none;
  padding: 10px;
  font-family: 'Lato', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(110, 114, 117, 0.74);
  outline: 0;
}

.form-btn {
  width: 471px;
  height: 50px;
  background: var(--buttonColor);
  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  border-radius: 5px;
  cursor: pointer;

  font-family: 'Lato', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--white);;
}

footer {
  padding: 10px;
  background: var(--white200);
  text-align: center;
}

footer P {
  font-family: 'Lato', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(110, 114, 117, 0.74);
}

@media (max-width: 480px) {
  .header {
    height: 800px;
    flex-direction: column;
  }
  .header-title {
    font-size: 32px;
  }
  .header-box {
    justify-content: space-evenly;
  }
  .header-subtitle {
    font-size: 18px;
  }
  .card-container {
    height: 3000px;
    flex-direction: column;
  }
  .form-input, .form-textarea, .form-btn {
    width: 370px;
  }
}